html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html, body { font-size: 62.5%; }

body { font-family: Arial, sans-serif; line-height: 1.4; }

.out { max-width: 1660px; min-width: 320px; margin: 0 auto; }

.onleft { float: left; }

.onright { float: right; }

a { text-decoration: none; }

@font-face { font-family: SourceSansPro-Regular; src: url("fonts/SourceSansPro-Regular.eot"); src: url("fonts/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/SourceSansPro-Regular.woff") format("woff"), url("fonts/SourceSansPro-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: SourceSansPro-Light; src: url("fonts/SourceSansPro-Light.eot"); src: url("fonts/SourceSansPro-Light.eot?#iefix") format("embedded-opentype"), url("fonts/SourceSansPro-Light.woff") format("woff"), url("fonts/SourceSansPro-Light.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: ProximaNova-Regular; src: url("fonts/ProximaNova-Regular.eot"); src: url("fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova-Regular.woff") format("woff"), url("fonts/ProximaNova-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: ProximaNova-Light; src: url("fonts/ProximaNova-Light.eot"); src: url("fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova-Light.woff") format("woff"), url("fonts/ProximaNova-Light.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: Airstream-ITC; src: url("fonts/Airstream-ITC.eot"); src: url("fonts/Airstream-ITC.eot?#iefix") format("embedded-opentype"), url("fonts/Airstream-ITC.woff") format("woff"), url("fonts/Airstream-ITC.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: icofonts; src: url("fonts/icofonts.eot"); src: url("fonts/icofonts.eot?#iefix") format("embedded-opentype"), url("fonts/icofonts.woff") format("woff"), url("fonts/icofonts.ttf") format("truetype"); font-weight: normal; font-style: normal; }
.btn { width: 166px; height: 47px; background-color: black; color: white; text-transform: uppercase; font-size: 14px; font-size: 1.4rem; font-family: "SourceSansPro-Regular", Arial, sans-serif; }
.btn.withborder { width: 208px; background: none; border: 1px solid white; }
.btn.nav { width: 175px; }
.btn.btn_white { width: 120px; height: 35px; color: black; background: white; font-size: 12px; font-size: 1.2rem; }

.cycle-slideshow { height: 100%; overflow: hidden; }
.cycle-slideshow img { width: 100%; height: 100%; }

.ico { speak: none; display: inline-block; text-decoration: inherit; text-align: center; font-variant: normal; text-transform: none; font-family: "icofonts"; font-weight: normal; font-style: normal; }
.ico.ico_search:before { content: "\e80b"; }
.ico.ico_carte:before { content: "\e80c"; }
.ico.ico_lunch:before { content: "\e805"; }
.ico.ico_delivery:before { content: "\e801"; }
.ico.ico_party:before { content: "\e807"; }
.ico.ico_wine:before { content: "\e80a"; }
.ico.ico_fb:before { content: "\e802"; }
.ico.ico_tw:before { content: "\e809"; }
.ico.ico_insta:before { content: "\e804"; }
.ico.ico_g:before { content: "\e803"; }
.ico.ico_trip:before { content: "\e800"; }
.ico.ico_menu:before { content: "\e80d"; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.header { position: relative; padding: 25px 50px 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; *zoom: 1; }
.header:after { content: " "; display: table; clear: both; }
.header.header_inner { margin-bottom: 67px; }

.header_mobile { display: none; *zoom: 1; }
.header_mobile:after { content: " "; display: table; clear: both; }
.header_mobile .logo_small { -moz-transition: 0.2s ease; -o-transition: 0.2s ease; -webkit-transition: 0.2s ease; transition: 0.2s ease; }
.header_mobile .logo_small img { width: 100px; }
.header_mobile .logo_small:hover { -moz-transform: scale(1.1); -ms-transform: scale(1.1); -webkit-transform: scale(1.1); transform: scale(1.1); }
.header_mobile .search { padding-top: 15px; }
.header_mobile .search .ico { margin-left: 15px; color: white; vertical-align: middle; cursor: pointer; font-size: 30px; font-size: 3rem; -moz-transition: 0.2s ease; -o-transition: 0.2s ease; -webkit-transition: 0.2s ease; transition: 0.2s ease; }
.header_mobile .search .ico:hover { -moz-transform: translateY(-2px); -ms-transform: translateY(-2px); -webkit-transform: translateY(-2px); transform: translateY(-2px); }

.menu { text-align: center; }
.menu li { display: inline-block; }
.menu a { display: inline-block; text-transform: uppercase; color: black; line-height: 1; font-size: 14px; font-size: 1.4rem; font-family: "ProximaNova-Light", Arial, sans-serif; }
.menu .menus { position: relative; }
.menu .menus:after { display: none; content: ""; position: absolute; margin-left: -11px; left: 50%; bottom: -10px; z-index: 3; width: 0px; height: 0px; border-style: solid; border-width: 10px 11px 0 11px; border-color: white transparent transparent transparent; }
.menu .menus.is-shown:after { display: block; }
.menu .leftside { padding: 20px 17.5px 20px 17.5px; }
.menu .rightside { padding: 20px 27.5px 20px 27.5px; }
.menu .logo { margin: 0 45.5px; }
.menu .submenu { visibility: hidden; position: absolute; left: 0; width: 100%; text-align: center; background-color: black; letter-spacing: 1px; z-index: 2; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.menu .submenu a { color: white; padding: 28px 25px; font-size: 12px; font-size: 1.2rem; font-family: "ProximaNova-Regular", Arial, sans-serif; }
.menu .submenu.is-active { visibility: visible; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; -moz-transition: opacity 0.5s; -o-transition: opacity 0.5s; -webkit-transition: opacity 0.5s; transition: opacity 0.5s; }

.order { position: absolute; top: 25px; right: 50px; }
.order .btn { margin-bottom: 43px; }
.order .search { *zoom: 1; }
.order .search:after { content: " "; display: table; clear: both; }
.order .search .ico_search { font-size: 20px; cursor: pointer; }

.main { overflow: hidden; }

.main__row { *zoom: 1; }
.main__row:after { content: " "; display: table; clear: both; }

.main__bl { float: left; width: 20%; height: 415px; filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); filter: gray; -webkit-filter: grayscale(100%); filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1); -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)"; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; transition-duration: 0.5s; -webkit-transition-property: -webkit-transform, opacity; -moz-transition-property: -moz-transform, opacity; transition-property: transform, opacity; }
.main__bl:hover { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale"); -webkit-filter: grayscale(0%); }
.main__bl.main_bl-w2 { width: 40%; background: green; }
.main__bl.main_bl-h2 { height: 830px; background: yellow; }
.main__bl.tile4 { background: url(../img/bl4.jpg) no-repeat; background-color: black; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; text-align: center; font-size: 0; }
.main__bl.tile4:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.main__bl.tile6 { background-color: black; text-align: center; font-size: 0; }
.main__bl.tile6:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.main__bl .reserve, .main__bl .view { display: inline-block; vertical-align: middle; }
.main__bl.tile8 #googlemap { width: 100%; height: 100%; }
.main__bl.tile8 #address { background: black; color: white; padding: 15px 30px 17px; font-size: 12px; font-size: 1.2rem; font-family: "SourceSansPro-Light", Arial, sans-serif; }
.main__bl.tile8 #address .address__title { margin-bottom: 10px; font-size: 18px; font-size: 1.8rem; }
.main__bl.tile8 #address a { color: white; }
.main__bl.tile11 { color: white; background-color: black; text-align: center; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center; font-size: 0; }
.main__bl.tile11:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.main__bl.tile11 .main__inside { display: inline-block; vertical-align: middle; }
.main__bl.tile11 p { max-width: 90%; margin: 0 auto; line-height: 26px; font-size: 14px; font-size: 1.4rem; font-family: "SourceSansPro-Light", Arial, sans-serif; }
.main__bl.tile11 a { color: white; font-size: 14px; font-size: 1.4rem; font-family: "SourceSansPro-Light", Arial, sans-serif; }
.main__bl.tile11 a:hover { text-decoration: underline; }
.main__bl.tile11 .title { position: relative; padding: 11% 0; text-transform: uppercase; line-height: 1; font-size: 36px; font-size: 3.6rem; font-family: "ProximaNova-Light", Arial, sans-serif; }
.main__bl.tile11 .title:before { content: ""; position: absolute; display: block; top: 0; left: 50%; margin-left: -32px; width: 62px; height: 1px; background: white; }
.main__bl.tile11 .btn { margin-top: 7%; }

.footer { padding: 38px 50px 26px 50px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.footer .footer__in, .footer .footer__nav { *zoom: 1; }
.footer .footer__in:after, .footer .footer__nav:after { content: " "; display: table; clear: both; }
.footer a { margin-right: 30px; }
.footer a.last { margin-right: 0; }
.footer .btn { width: 175px; text-align: center; text-transform: none; line-height: 47px; margin-bottom: 20px; font-size: 21px; font-size: 2.1rem; font-family: "Airstream-ITC", Arial, sans-serif; }
.footer .btn span { display: inline-block; padding-top: 3px; vertical-align: top; }
.footer .btn.carte .ico_carte { font-size: 32px; font-size: 3.2rem; }
.footer .btn.lunch .ico_lunch { margin-right: 5px; font-size: 32px; font-size: 3.2rem; }
.footer .btn.delivery .ico_delivery { margin-right: 5px; font-size: 35px; font-size: 3.5rem; }
.footer .btn.party .ico_party { margin-right: 5px; font-size: 35px; font-size: 3.5rem; }
.footer .btn.wine .ico_wine { margin-right: 5px; font-size: 38px; font-size: 3.8rem; }
.footer .footer__social { padding-top: 13px; }
.footer .footer__social span { margin-right: 30px; text-transform: uppercase; font-size: 14px; font-size: 1.4rem; font-family: "ProximaNova-Light", Arial, sans-serif; }
.footer .social__i { display: inline-block; vertical-align: -3px; color: black; }
.footer .social__i .ico { font-size: 21px; font-size: 2.1rem; }
.footer .copyright { margin-top: 30px; text-align: center; color: #a1a1a1; font-family: "ProximaNova-Light", Arial, sans-serif; font-size: 11px; font-size: 1.1rem; }

.inner_bl { z-index: 2; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.inner_bl.inner_bl-1 { background-image: url(../img/in_bl1.jpg); }
.inner_bl.inner_bl-2 { background-image: url(../img/in_bl2.jpg); }
.inner_bl.inner_bl-3 { background-image: url(../img/in_bl3.jpg); }
.inner_bl.inner_bl-4 { background-image: url(../img/in_bl4.jpg); }
.inner_bl.inner_bl-5 { background-image: url(../img/in_bl5.jpg); }
.inner_bl.inner_bl-txt { background: white; z-index: 3; text-align: center; font-size: 0; }
.inner_bl.inner_bl-txt:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.inner_bl.inner_bl-txt .inner__inside { display: inline-block; vertical-align: middle; }
.inner_bl.inner_bl-txt .inner__inside p { position: relative; padding-bottom: 40px; color: black; text-transform: uppercase; font-size: 24px; font-size: 2.4rem; font-family: "ProximaNova-Light", Arial, sans-serif; }
.inner_bl.inner_bl-txt .inner__inside p:after { content: ""; position: absolute; display: block; bottom: 0; left: 50%; margin-left: -32px; width: 62px; height: 1px; background: black; }
.inner_bl.inner_bl-txt .inner__inside .title { position: relative; padding: 11% 0; text-transform: uppercase; line-height: 1; font-size: 36px; font-size: 3.6rem; font-family: "ProximaNova-Light", Arial, sans-serif; padding: 5% 0; }
.inner_bl.inner_bl-txt .inner__inside .title:before { content: ""; position: absolute; display: block; top: 0; left: 50%; margin-left: -32px; width: 62px; height: 1px; background: white; }
.inner_bl.inner_bl-txt .inner__inside .title:before { background: black; }
.inner_bl.inner_bl-txt .inner__inside .title:after { display: none; }
.inner_bl.inner_bl-txt .inner__inside .inner__p { max-width: 75%; margin: 0 auto; padding-bottom: 0; line-height: 26px; text-transform: none; font-size: 14px; font-size: 1.4rem; font-family: "SourceSansPro-Light", Arial, sans-serif; }
.inner_bl.inner_bl-txt .inner__inside .inner__p:after { display: none; }
.inner_bl.inner_bl-txt .inner__inside .btn { margin-top: 35px; color: black; border-color: black; }
.inner_bl.inner_bl-txt .inner__inside .btn.percentage { margin-top: 4.2%; }
.inner_bl .leftarr { display: block; position: absolute; top: 50%; left: -20px; margin-top: -15px; width: 0px; height: 0px; border-style: solid; border-width: 15px 20px 15px 0; border-color: transparent white transparent transparent; }
.inner_bl .rightarr { display: block; position: absolute; top: 50%; right: -20px; width: 0px; height: 0px; border-style: solid; border-width: 15px 0 15px 20px; border-color: transparent transparent transparent white; }

@media only screen and (max-width: 1260px) { .header { padding: 25px 10px 0; }
  .header.header_inner { margin-bottom: 10px; }
  .header.header_inner .order { position: static; padding-top: 63px; }
  .menu .logo img { width: 100px; }
  .menu .leftside { padding: 20px; }
  .menu .logo { margin: 0 5.5px; }
  .menu .rightside { padding: 20px; }
  .menu .reserve, .menu .view { width: 80%; }
  .menu .submenu a { padding: 20px 10px; letter-spacing: 0.5px; }
  .order { position: static; margin-bottom: 10px; *zoom: 1; }
  .order:after { content: " "; display: table; clear: both; }
  .order .btn { float: left; margin-bottom: 0; }
  .order .search { float: right; padding-top: 12px; }
  .main__bl.tile11 .title { font-size: 26px; font-size: 2.6rem; }
  .main__bl.tile11 p { line-height: 1.2; }
  .inner_bl.inner_bl-txt .inner__inside .title { font-size: 26px; font-size: 2.6rem; }
  .inner_bl.inner_bl-txt .inner__inside .inner__p { max-width: 90%; line-height: 1.2; }
  .inner_bl.inner_bl-txt .inner__inside p { font-size: 18px; font-size: 1.8rem; } }
@media only screen and (max-width: 918px) { .header { background: black; padding: 20px; }
  .header.header_inner { margin-bottom: 0; }
  .order { display: none; }
  .header_mobile { display: block; }
  .menu { position: absolute; width: 100%; padding: 10px 0; text-align: right; left: 0; background: black; z-index: 120; display: none; }
  .menu li { display: block; }
  .menu .rightside, .menu .leftside { padding: 15px 20px; color: white; }
  .menu .link:after { display: block; top: 50%; left: 0; margin-top: -6px; }
  .menu .logo { display: none; }
  .menu.is-active { display: block; }
  .submenu.is-active { position: static; padding: 0 11% 0 0; text-align: right; }
  .submenu.is-active a { padding: 17px; } }
@media only screen and (max-width: 708px) { .main__bl.main_bl-w2 { width: 100% !important; } }
@media only screen and (max-width: 618px) { .inner_bl .leftarr { top: -20px; left: 50%; margin-left: -10px; margin-top: 0; width: 0px; height: 0px; border-style: solid; border-width: 0 20px 25px 20px; border-color: transparent transparent white transparent; }
  .inner_bl .rightarr { top: 98%; left: 50%; margin-left: -10px; margin-top: 0; width: 0px; height: 0px; border-style: solid; border-width: 25px 20px 0 20px; border-color: white transparent transparent transparent; }
  .inner_bl.inner_bl-txt .inner__inside .inner__p { max-width: 85%; line-height: 1.2; }
  .inner_bl.inner_bl-txt .inner__inside p { font-size: 24px; font-size: 2.4rem; }
  .footer .footer__nav, .footer .footer__social { float: none; }
  .footer .footer__nav a { display: block; float: none; margin: 0 auto 20px; }
  .footer .footer__social { text-align: center; }
  .footer .footer__social span { display: block; margin: 0 0 10px 0; }
  .footer .footer__social a { margin-right: 25px; }
  .footer .footer__social a.last { margin-right: 0; } }
