html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html, body { font-size: 62.5%; }

body { font-family: Arial, sans-serif; line-height: 1.4; }

.out { max-width: 1660px; min-width: 320px; margin: 0 auto; }

.onleft { float: left; }

.onright { float: right; }

a { text-decoration: none; }

@font-face { font-family: SourceSansPro-Regular; src: url("fonts/SourceSansPro-Regular.eot"); src: url("fonts/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/SourceSansPro-Regular.woff") format("woff"), url("fonts/SourceSansPro-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: SourceSansPro-Light; src: url("fonts/SourceSansPro-Light.eot"); src: url("fonts/SourceSansPro-Light.eot?#iefix") format("embedded-opentype"), url("fonts/SourceSansPro-Light.woff") format("woff"), url("fonts/SourceSansPro-Light.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: ProximaNova-Regular; src: url("fonts/ProximaNova-Regular.eot"); src: url("fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova-Regular.woff") format("woff"), url("fonts/ProximaNova-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: ProximaNova-Light; src: url("fonts/ProximaNova-Light.eot"); src: url("fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova-Light.woff") format("woff"), url("fonts/ProximaNova-Light.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: Airstream-ITC; src: url("fonts/Airstream-ITC.eot"); src: url("fonts/Airstream-ITC.eot?#iefix") format("embedded-opentype"), url("fonts/Airstream-ITC.woff") format("woff"), url("fonts/Airstream-ITC.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: icofonts; src: url("fonts/icofonts.eot"); src: url("fonts/icofonts.eot?#iefix") format("embedded-opentype"), url("fonts/icofonts.woff") format("woff"), url("fonts/icofonts.ttf") format("truetype"); font-weight: normal; font-style: normal; }

.btn { width: 166px; height: 47px; background-color: black; color: white; text-transform: uppercase; font-size: 14px; font-size: 1.4rem; font-family: "SourceSansPro-Regular", Arial, sans-serif; }
.btn:active { position: relative; top: 1px; }
.btn.withborder { width: 208px; background: none; border: 1px solid white; }
.btn.nav { width: 175px; }

.cycle-slideshow { height: 100%; overflow: hidden; }
.cycle-slideshow img { width: 100%; height: 100%; }

.ico { speak: none; display: inline-block; text-decoration: inherit; text-align: center; font-variant: normal; text-transform: none; font-family: "icofonts"; font-weight: normal; font-style: normal; }
.ico.ico_search:before { content: "\e80b"; }
.ico.ico_carte:before { content: "\e80c"; }
.ico.ico_lunch:before { content: "\e805"; }
.ico.ico_delivery:before { content: "\e801"; }
.ico.ico_party:before { content: "\e807"; }
.ico.ico_wine:before { content: "\e80a"; }
.ico.ico_fb:before { content: "\e802"; }
.ico.ico_tw:before { content: "\e809"; }
.ico.ico_insta:before { content: "\e804"; }
.ico.ico_g:before { content: "\e803"; }
.ico.ico_trip:before { content: "\e800"; }
.ico.ico_reserve:before { content: "\e808"; }
.ico.ico_view:before { content: "\e806"; }
.ico.ico_menu:before { content: "\e80d"; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.header { position: relative; padding: 25px 50px 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; *zoom: 1; }
.header:after { content: " "; display: table; clear: both; }

.header_mobile { display: none; *zoom: 1; }
.header_mobile:after { content: " "; display: table; clear: both; }
.header_mobile .logo_small { -webkit-transition: 0.2s ease; -moz-transition: 0.2s ease; -o-transition: 0.2s ease; transition: 0.2s ease; }
.header_mobile .logo_small img { width: 100px; }
.header_mobile .logo_small:hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
.header_mobile .search .ico { padding: 15px 0 0 15px; color: white; cursor: pointer; font-size: 30px; font-size: 3rem; -webkit-transition: 0.2s ease; -moz-transition: 0.2s ease; -o-transition: 0.2s ease; transition: 0.2s ease; }
.header_mobile .search .ico:hover { -webkit-transform: translateY(-2px); -moz-transform: translateY(-2px); -ms-transform: translateY(-2px); -o-transform: translateY(-2px); transform: translateY(-2px); }

.menu { text-align: center; }
.menu li { display: inline-block; }
.menu a { display: inline-block; text-transform: uppercase; color: black; line-height: 1; font-size: 14px; font-size: 1.4rem; font-family: "ProximaNova-Light", Arial, sans-serif; }
.menu .menus { position: relative; }
.menu .menus:after { display: none; content: ""; position: absolute; margin-left: -11px; left: 50%; bottom: -10px; z-index: 3; width: 0px; height: 0px; border-style: solid; border-width: 10px 11px 0 11px; border-color: white transparent transparent transparent; }
.menu .menus.is-shown:after { display: block; }
.menu .leftside { padding: 20px 17.5px 20px 17.5px; }
.menu .rightside { padding: 20px 27.5px 20px 27.5px; }
.menu .logo { margin: 0 45.5px; }
.menu .submenu { visibility: hidden; position: absolute; padding-left: 23.5%; left: 0; width: 100%; text-align: left; background-color: black; z-index: 2; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.menu .submenu a { color: white; padding: 20px; font-size: 12px; font-size: 1.2rem; font-family: "ProximaNova-Regular", Arial, sans-serif; }
.menu .submenu.is-active { visibility: visible; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; -webkit-transition: opacity 0.5s; -moz-transition: opacity 0.5s; -o-transition: opacity 0.5s; transition: opacity 0.5s; }

.order { position: absolute; top: 25px; right: 50px; }
.order .btn { margin-bottom: 43px; }
.order .search { *zoom: 1; }
.order .search:after { content: " "; display: table; clear: both; }
.order .search .ico_search { font-size: 20px; cursor: pointer; }

.main { overflow: hidden; }

.main__row { margin: 0 auto; *zoom: 1; }
.main__row:after { content: " "; display: table; clear: both; }

.main__bl { display: block; float: left; width: 25%; height: 415px; overflow: hidden; filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); filter: gray; -webkit-filter: grayscale(100%); filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1); -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)"; }
.main__bl:hover { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale"); -webkit-filter: grayscale(0%); }
.main__bl.main_bl-w2 { width: 50%; }
.main__bl.main_bl-h2 { height: 830px; }
.main__bl.tile4 { background: url(../img/bl4.jpg) no-repeat; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; text-align: center; font-size: 0; }
.main__bl.tile4:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.main__bl.tile6 { background-color: black; text-align: center; font-size: 0; }
.main__bl.tile6:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.main__bl .reserve, .main__bl .view { position: relative; display: inline-block; text-align: left; vertical-align: middle; width: 225px; color: white; }
.main__bl .reserve p, .main__bl .view p { line-height: 1.3; -ms-transform: rotate(-21deg); -webkit-transform: rotate(-21deg); transform: rotate(-21deg); font-size: 48px; font-size: 4.8rem; font-family: "Airstream-ITC", Arial, sans-serif; }
.main__bl .reserve .small, .main__bl .view .small { padding-left: 30px; font-size: 30px; font-size: 3rem; }
.main__bl .reserve span, .main__bl .view span { font-size: 78px; font-size: 7.8rem; }
.main__bl .reserve .ico, .main__bl .view .ico { position: absolute; top: -63px; right: 15px; font-size: 80px; font-size: 8rem; }
.main__bl.tile8 { position: relative; }
.main__bl.tile8 .googlemap { position: absolute; display: block; top: 0; bottom: 0; left: 0; right: 0; }
.main__bl.tile8 img { width: 100%; height: 100%; }
.main__bl.tile8 .address { position: absolute; top: 28%; left: 24%; padding: 13px 25px; background: black; }
.main__bl.tile8 .address p, .main__bl.tile8 .address a { color: white; font-size: 12px; font-size: 1.2rem; font-family: "SourceSansPro-Light", Arial, sans-serif; }
.main__bl.tile8 .address:after { content: ""; position: absolute; left: 5px; bottom: -20px; background: url('../img/icons-s60a3031f38.png') 0 0 no-repeat; width: 35px; height: 21px; }
.main__bl.tile8 .address .address__title { margin-bottom: 10px; font-size: 18px; font-size: 1.8rem; }
.main__bl.tile11 { padding: 4.5% 3% 0 3%; color: white; background-color: black; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.main__bl.tile11 p { line-height: 26px; font-size: 14px; font-size: 1.4rem; font-family: "SourceSansPro-Light", Arial, sans-serif; }
.main__bl.tile11 .title { position: relative; padding: 40px 0; text-transform: uppercase; line-height: 1; font-size: 36px; font-size: 3.6rem; font-family: "ProximaNova-Light", Arial, sans-serif; }
.main__bl.tile11 .title:before { content: ""; position: absolute; display: block; top: 0; left: 50%; margin-left: -32px; width: 62px; height: 1px; background: white; }
.main__bl.tile11 .btn { margin-top: 40px; }

.footer { padding: 38px 50px 26px 50px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.footer .footer__in, .footer .footer__nav { *zoom: 1; }
.footer .footer__in:after, .footer .footer__nav:after { content: " "; display: table; clear: both; }
.footer a { display: block; margin-right: 30px; }
.footer a.last { margin-right: 0; }
.footer a.carte .ico_carte { font-size: 32px; font-size: 3.2rem; }
.footer a.lunch .ico_lunch { margin-right: 5px; font-size: 32px; font-size: 3.2rem; }
.footer a.delivery .ico_delivery { margin-right: 5px; font-size: 35px; font-size: 3.5rem; }
.footer a.party .ico_party { margin-right: 5px; font-size: 35px; font-size: 3.5rem; }
.footer a.wine .ico_wine { margin-right: 5px; font-size: 38px; font-size: 3.8rem; }
.footer .btn { width: 175px; text-transform: none; line-height: 47px; margin-bottom: 20px; font-size: 21px; font-size: 2.1rem; font-family: "Airstream-ITC", Arial, sans-serif; }
.footer .btn .ico { vertical-align: top; }
.footer .btn span { display: inline-block; padding-top: 4px; }
.footer .footer__social { padding-top: 13px; }
.footer .footer__social span { margin-right: 30px; text-transform: uppercase; font-size: 14px; font-size: 1.4rem; font-family: "ProximaNova-Light", Arial, sans-serif; }
.footer .social__i { display: inline-block; vertical-align: -3px; color: black; }
.footer .social__i .ico { font-size: 21px; font-size: 2.1rem; }
.footer .copyright { margin-top: 30px; text-align: center; color: #a1a1a1; font-family: "ProximaNova-Light", Arial, sans-serif; font-size: 11px; font-size: 1.1rem; }

@media only screen and (max-width: 1260px) { .header { padding: 25px 10px 0; }
  .menu .leftside { padding: 20px; }
  .menu .logo { margin: 0 5.5px; }
  .menu .rightside { padding: 20px; }
  .menu .reserve { width: 80%; }
  .menu .reserve p { font-size: 34px; font-size: 3.4rem; }
  .menu .reserve .ico_reserve { top: -48px; right: 16px; font-size: 60px; font-size: 6rem; }
  .menu .view { width: 90%; }
  .menu .view .small { font-size: 25px; font-size: 2.5rem; }
  .menu .view span { font-size: 34px; font-size: 3.4rem; }
  .menu .view .ico_view { right: 16px; font-size: 60px; font-size: 6rem; }
  .menu.tile8 .address { top: -3%; padding: 13px 25px 13px 14px; }
  .menu.tile8 .address .address__title { font-size: 15px; font-size: 1.5rem; }
  .menu.tile8 .address .hide { display: none; }
  .menu.tile11 { padding: 15px 20px 0 20px; }
  .menu.tile11 .title { padding: 15px 0; font-size: 18px; font-size: 1.8rem; }
  .menu.tile11 p { font-size: 13px; font-size: 1.3rem; line-height: 1.2; }
  .menu.tile11 .btn { width: 50%; height: 35px; margin-top: 10px; } }
@media only screen and (max-width: 1066px) { .order { display: none; }
  .menu .logo img { width: 100px; } }
@media only screen and (max-width: 900px) { .header { background: black; padding: 20px; }
  .header_mobile { display: block; }
  .menu { position: absolute; width: 100%; padding: 10px 0; text-align: right; left: 0; background: black; z-index: 120; display: none; }
  .menu li { display: block; }
  .menu .rightside, .menu .leftside { padding: 15px 20px; color: white; }
  .menu .link:after { display: block; top: 50%; left: 0; margin-top: -6px; }
  .menu .logo { display: none; }
  .menu.is-active { display: block; }
  .submenu.is-active { position: static; padding: 0 11% 0 0; text-align: right; }
  .submenu.is-active a { padding: 17px; }
  .main__bl.main_bl-w2 { width: 49.9% !important; } }
@media only screen and (max-width: 600px) { .main__bl.main_bl-w2 { width: 100% !important; }
  .footer__nav, .footer__social { float: none; }
  .footer__nav a { float: none; margin: 0; }
  .footer__nav a button { display: block; margin: 0 auto; }
  .footer__social { text-align: center; }
  .footer__social span { display: block; margin: 0 0 10px 0; }
  .footer__social a { margin-right: 25px; } }
