.header
	position: relative
	padding: 25px 50px 0
	+box
	+clr

.menu
	text-align: center
	li
		display: inline-block
	a
		display: inline-block
		text-transform: uppercase
		color: #000
		line-height: 1
		+fs(14)
		+pnl
	.link
		position: relative
		&:after
			display: none
			content: ''
			position: absolute
			margin-left: -11px
			left: 50%
			bottom: -10px
			z-index: 1
			+arr(22, 10, #fff, b)
	.leftside
		padding: 20px 17.5px 20px 17.5px
	.rightside
		padding: 20px 27.5px 20px 27.5px
	.logo
		margin: 0 45.5px
	.submenu
		visibility: hidden
		position: absolute
		padding-left: 22%
		left: 0
		width: 100%
		text-align: left
		background-color: #000
		+opacity(0)
		+box
		z-index: 2
		a
			color: #FFF
			padding: 20px
			+fs(12)
			+pnr
		&.is-active
			visibility: visible
			+opacity(1)
			+transition(opacity 0.5s)

.order
	position: absolute
	top: 25px
	right: 50px
	.btn
		margin-bottom: 50px
	.search
		+clr
		i
			display: block
			+s(zoom)

//main
.main__row
	margin: 0 auto
	+clr
.main__bl
	display: block
	float: left
	-webkit-background-size: cover
	-o-background-size: cover
	background-size: cover
	+vertical
	+gray
	&:hover
		+gray-zero
		+transition(0.4s)
	&.w1
		width: 415px
		background-color: red //TODO REMOVE THIS
	&.w2
		width: 830px
		background-color: green //TODO REMOVE THIS
	&.h1
		height: 415px
	&.h2
		height: 830px
	&.tile1
		background: url(../img/bl1.jpg) no-repeat
	&.tile2
		background: url(../img/bl2.jpg) no-repeat
	&.tile3
		background: url(../img/bl3.jpg) no-repeat
	&.tile4
		background: url(../img/bl4.jpg) no-repeat
	&.tile5
		background: url(../img/bl5.jpg) 50% 20% no-repeat
	&.tile6
		background-color: #000
	.reserve, .view
		position: relative
		display: inline-block
		width: 55%
		text-align: left
		color: #FFF
		vertical-align: middle
		p
			line-height: 1.3
			+rotate(-21)
			+fs(48)
			+air
		.small
			+fs(30)
		span
			+fs(78)
		i
			content: ""
			position: absolute
			display: block
		.reserve__i
			top: -50px
			right: 20px
			+svg(reserve, 107, 82)
		.view__i
			top: -50px
			right: 50px
			+svg(menu, 111, 84)



















































































































































































































