//resize
+r(1260)
	.header
		padding: 25px 10px 0
		&.header_inner
			margin-bottom: 10px
			.order
				position: static
				padding-top: 63px
	.menu
		.logo img
			width: 100px
	.menu
		.leftside
			padding: 20px
		.logo
			margin: 0 5.5px
		.rightside
			padding: 20px
		.reserve, .view
			width: 80%
		.submenu
			a
				padding: 20px 10px
				letter-spacing: 0.5px
	.order
		position: static
		margin-bottom: 10px
		+clr
		.btn
			float: left
			margin-bottom: 0
		.search
			float: right
			padding-top: 12px
	.main__bl.tile11
		.title
			+fs(26)
		p
			line-height: 1.2
	.inner_bl.inner_bl-txt .inner__inside
		.title
			+fs(26)
		.inner__p
			max-width: 90%
			line-height: 1.2
		p
			+fs(18)

+r(918)
	.header
		background: #000
		padding: 20px
		&.header_inner
			margin-bottom: 0
	.order
		display: none
	.header_mobile
		display: block
	.menu
		position: absolute
		width: 100%
		padding: 10px 0
		text-align: right
		left: 0
		background: #000
		z-index: 120
		display: none
		li
			display: block
		.rightside, .leftside
			padding: 15px 20px
			color: #FFF
		.link
			&:after
				display: block
				top: 50%
				left: 0
				margin-top: -6px
		.logo
			display: none
		&.is-active
			display: block
	.submenu
		&.is-active
			position: static
			padding: 0 11% 0 0
			text-align: right
			a
				padding: 17px

+r(708)
	.main__bl
		&.main_bl-w2
			width: 100% !important

+r(618)
	.inner_bl
		.leftarr
			top: -20px
			left: 50%
			margin-left: -10px
			margin-top: 0
			+arr(40, 25, #fff, t)
		.rightarr
			top: 98%
			left: 50%
			margin-left: -10px
			margin-top: 0
			+arr(40, 25, #fff, b)
	.inner_bl.inner_bl-txt .inner__inside
		.inner__p
			max-width: 85%
			line-height: 1.2
		p
			+fs(24)
	.footer
		.footer__nav, .footer__social
			float: none
		.footer__nav
			a
				display: block
				float: none
				margin: 0 auto 20px
		.footer__social
			text-align: center
			span
				display: block
				margin: 0 0 10px 0
			a
				margin-right: 25px
				&.last
					margin-right: 0
